.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    grid-template-columns: repeat(3, 106.25px);
}

.calculator-display {
    display: flex;
    background: lightgray;
    height: 72px;
    justify-content: center;
    align-items: center;
    border: 4px solid orange;
}



